@import url('https://fonts.googleapis.com/css?family=Poppins');

#remarks1,#remarks2, #remarks3, #remarks4, #remarks5, #remarks6, #remarks7 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}

li {
    margin-left: 25px;
}

p {
    /* font-family: 'Poppins', sans-serif; */
    text-align: justify;
    color: white;
}



#remarks2 {
    position: relative;
    top: -15px; 
    display: inline-block;
    padding: 0 10px; 
}

.short-desc {
    padding: 10px;
}

#proj-img {
    filter: grayscale(50%);
    transition: filter 0.2s ease-in-out;
}

#remarks {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px;
    font-size: 72px;
}

#greeting2{
    border-radius: 3px;
    height: 65%;
    left: 110px;
    top: 25%;
    display: grid;
}

#greeting {
    height: 65%;
    left: 110px;
    top: 25%;
}

#content {
    display: flex;
}


div.nav-bar{
    height: 30px;
    top: 10px;
    align-items: center;
    position: fixed;
}

.navigation {
    margin-left: 2%;
    margin-right: 3%;
    color: black;
    cursor: pointer;
    transition: color 0.5s ease;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.navigation:hover {
    color: #743A36;
}

.nav-bar {
    left: 35%;
    width: 35%;
    position: sticky;
}

.navigation-bar {
    height: 15%;
}

#home {
    min-height: 50%;
    height: 100%;
    padding: 10px;
}

.contents {
    margin-top:25px;
}

a {
    text-decoration: none;
    transform: uppercase;
}

.link {
    transform: uppercase;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    height: 100%;
    /* background-color: #94553D; */
    margin: 1%;
    }

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.project {
    margin: 5%;
    display: flex;
}

.contact-info {
    display: inline-flex;
    align-self: center;
}

.contact-info-item {
    margin: 5%;
}

.project-description {
    width: 50%;
}

div h3 {
    text-align: center;
    font-size: 32px;
    margin: -2%;
}


div h4 {
    color: black;
}

#proj-img:hover {
    filter: grayscale(0%);
    transition: filter 0.2s ease-in, transform 0.2s ease-in;
    /* transform: rotate(30deg) scale(1.1); */
}

.service {
    color: black;
    text-align: center;
}

.contact-info {
    width: 100vmin;
    margin-left:2%;
}

.tool {
    width: 4vmax;
    margin: 3%;
}

.service-item {
    border: solid 3px white; 
    border-radius: 30px;
    margin: 2%;
}

.service {
    color: #CFA3EA;
}


.project-item {
    width: 18rem; 
    border: solid 3px white; 
    border-radius: 30px;
}

#forFooter {
        text-align: center;
      /* padding: 10px; */
        /* left: -10px; */
        position: absolute;
}

.footer-content {
    color: black;
}

body {
    overflow-x: hidden;
    background-color: #11001C;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.project {
    margin-left: 20px;
}

.card-img-top {
    padding: 10px;
}

.card-text {
    color: white;
}

.desc {
    color: black;
}

.title, .sub-title {
    color: #CFA3EA;
    font-weight: bold;
}

.language1 {
    background-color: #CFA3EA;
}

span {
    color: white;
}

.modall {
    background: url('svg/python.svg');
    background-repeat: no-repeat;
    background-position: 140% 50%;
    background-size: 50%;
}

.modall2 {
    background: url('svg/java.svg');
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-size: 25%;
}

.modall3 {
    background: url('svg/html5.svg');
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-size: 25%;
}

.modall4, .modall7 {
    background: url('svg/kotlin.svg');
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-size: 25%;
}

.modall5 {
    background: url('svg/unity.svg');
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-size: 25%;
}

.modall6 {
    background: url('svg/laravel.svg');
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-size: 25%;
}

.modall8 {
    background: url('svg/laravel.svg');
    background-repeat: no-repeat;
    background-position: 110% 100%;
    background-size: 25%;
}

.modal-title {
    color: #CFA3EA;
    font-weight: bold;
}

.btn-close {
    color: #2196F3;
}

.tool-item {
    border: solid 2px white;
    border-radius: 5px;
    width: 82px;
    height: 82px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}